@font-face {
    font-family: 'Roboto';
    src: url(resources/Roboto-Bold.ttf);
}

:root {
    --default-text-size: 17.5pt;
    --nav-icon-size: 2.5vw;
    --avatar-size: 320px;
    --default-gap-size: 2vw;
    --default-color: #ff9e01;
    --bright-color: #e6ff01;
    --default-font:'Roboto', 'Arial', 'Verdana';
    --default-border-color: rgb(183, 183, 183, 0.5);
    --default-background-color: rgba(0, 0, 0, 0.8);
    --default-footer-color: rgb(31, 31, 31);
    --default-amplify-border: 5px solid white;
    --default-heading-text-size: 30pt;
    --small-padding: 1vw;
}

@media screen and (max-width: 1000px) {
    :root {
        --nav-icon-size: 32px;
        --default-text-size: 15pt;
        --small-padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --default-text-size: 13pt;
        --small-padding: 8px;
    }
}

html, body {
    display: block;
    padding: 0;
    margin: 0;
}

* {
    text-decoration: none;
    font-family: var(--default-font);
    font-size: var(--default-text-size);
}

body {
    background: url(images/office.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: var(--default-color);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    background-color: var(--default-background-color);
    justify-content: space-between;
    padding: 0.5vw;
}

.navbar > .left {
    display: flex;
    flex-wrap: wrap;
    align-self: left;
    gap: 2.5vw;
}
.navbar > .right {
    display: flex;
    flex-wrap: wrap;
    align-self: right;
    gap: var(--small-padding);
}

.nav-icon {
    width: var(--nav-icon-size);
    height:var(--nav-icon-size);
}

.nav-btn, .nav-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--default-color);
    text-align: center;
    font-weight: bold;
    border-radius: 36px;
    padding: 0.5vw 1vw;
}

.nav-btn-icon {
    padding: 0.5vw 0.5vw;
}

.nav-btn-icon img {
    filter: invert(56%) sepia(97%) saturate(1166%) hue-rotate(360deg) brightness(104%) contrast(104%);
}

.nav-btn:hover, .nav-btn-icon:hover {
    background-color: var(--default-border-color);
}

.container {
    padding: 2vw;
}

.circle {
    border-radius: 360px;
}

.round {
    border-radius: 12px;
}

.align-evenly {
    justify-content: space-evenly;
}

.center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap-size);
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--default-gap-size);
}

.block {
    padding: 2vw;
    background-color:  var(--default-background-color);
}

.action-header {
    color: var(--bright-color);
    letter-spacing: 1px;
    font-size: 32pt;
}

.action-btn {
    padding: 12px 36px;
    font-size: 32pt;
    color: var(--default-footer-color);
    background-color: var(--bright-color);
}

.action-btn:hover {
    background-color: var(--default-color);
}

img.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border: var(--small-padding) solid var(--default-color);
    box-shadow: 0 0 0 var(--small-padding) var(--default-footer-color);
}

.header {
    font-size: 24pt;
    color: var(--default-color);
}

.footer {
    /* position: absolute; */
    padding: 2vw;
    background-color: var(--default-footer-color);
    bottom: 0;
    left: 0;
    right: 0;
}